<a href="https://colab.research.google.com/github/hmzashh/programming-tests/blob/datapreprocessing/clv_preprocessing.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

In [67]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import OneHotEncoder

import matplotlib.pyplot as plt
import seaborn as sns

In [ ]:
df=pd.read_csv('/content/clv_data.csv')
df.head()

In [ ]:
df.info()

In [ ]:
df.isnull().mean() * 100

# **Handling missing value:**


*   filling age using median instead of mean because the distribution not normal
*   filling days_on_platform using median instead of mean because the distribution not normal

In [ ]:
df['days_on_platform'].skew()

In [ ]:
sns.histplot(df['days_on_platform'],kde=True)
plt.show()

In [ ]:
#handling missing value
df_new=df.copy()
df_new['age']=df_new['age'].fillna(df_new['age'].median())
df_new['days_on_platform']=df_new['days_on_platform'].fillna(df_new['days_on_platform'].median())

In [ ]:
df_new.isnull().mean() * 100

# **Handling Outliers**


*   income + day on platform + prurchases ,all of them are not normal dist and they have outliers that we will handle.

In [ ]:
num_col=['age', 'income', 'days_on_platform']
for col in num_col:
  sns.histplot(df_new[col],kde=True)
  plt.show()

In [ ]:
num_col=['age', 'income', 'days_on_platform']
for col in num_col:
  Q1=df_new[col].quantile(0.25)
  Q3=df_new[col].quantile(0.75)
  IQR=Q3-Q1
  Lower=Q1-1.5*IQR
  Upper=Q3+1.5*IQR
  df_new=df_new[(df_new[col]>=Lower)&(df_new[col]<=Upper)]

In [ ]:
num_col=['age', 'income', 'days_on_platform']
for col in num_col:
  sns.boxplot(df_new,x=col)
  plt.show()

# **Removing Duplicated:**

no Duplicated

In [ ]:
df_new.duplicated().sum()

# **Encoding**


*   encoding gender
*   encoding city

In [68]:

categorical_cols = ['gender', 'city']

ohe = OneHotEncoder(sparse_output=False, drop=None)

encoded_array = ohe.fit_transform(df_new[categorical_cols])

encoded_df = pd.DataFrame(encoded_array, columns=ohe.get_feature_names_out(categorical_cols))

df_encoded = pd.concat([df_new.drop(columns=categorical_cols), encoded_df], axis=1)
df_encoded.head(15)

,Unnamed: 0,id,age,income,days_on_platform,purchases,gender_Female,gender_Male,city_London,city_Miami,city_New York City,city_San Francisco,city_Tokyo
0,0.0,0.0,30.0,126895.0,14.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0
1,1.0,1.0,30.0,161474.0,14.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0
3,3.0,3.0,29.0,43791.0,28.0,2.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0
6,6.0,6.0,30.0,51679.0,30.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0
7,7.0,7.0,30.0,53341.0,43.0,1.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0
10,10.0,10.0,30.0,159506.0,7.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0
11,11.0,11.0,30.0,110343.0,30.0,1.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0
13,13.0,13.0,30.0,105418.0,13.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0
14,14.0,14.0,30.0,95060.0,7.0,1.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0
15,15.0,15.0,31.0,226249.0,20.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0
19,19.0,19.0,32.0,15174.0,13.0,1.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0
21,21.0,21.0,30.0,67623.0,40.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0
22,22.0,22.0,30.0,39433.0,36.0,2.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0
24,24.0,24.0,30.0,38777.0,2.0,2.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0
27,27.0,27.0,30.0,12877.0,18.0,1.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0