<a href="https://colab.research.google.com/github/hmzashh/programming-tests/blob/main/Pandas_Practical_Questions.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Data Exploration**

In [1]:
import pandas as pd
import numpy as np

In [2]:
dataset={'Name':['lina','omar','sami','sara','rami','tariq','mona','zain','leena','ahmed'],
         'Age':[25,30,None,22,35,40,26,33,28,30],
         'Gender':['female','male','male','female','male',None,'female','male','female','male'],
         'Department':['IT','HR','Marketing','IT','Finance','HR','Marketing','IT','Finance','Marketing'],
         'Salary':[4500,5000,5200,4800,5600,6000,4700,5300,None,5100],
         'Experience':[5,3,2,1,6,7,4,5,3,4]

}
df=pd.DataFrame(dataset)
df

    Name   Age  Gender Department  Salary  Experience
0   lina  25.0  female         IT  4500.0           5
1   omar  30.0    male         HR  5000.0           3
2   sami   NaN    male  Marketing  5200.0           2
3   sara  22.0  female         IT  4800.0           1
4   rami  35.0    male    Finance  5600.0           6
5  tariq  40.0    None         HR  6000.0           7
6   mona  26.0  female  Marketing  4700.0           4
7   zain  33.0    male         IT  5300.0           5
8  leena  28.0  female    Finance     NaN           3
9  ahmed  30.0    male  Marketing  5100.0           4

In [3]:

#df.head()
#df.shape
#df.dtypes #5 object+ 1 int64
#df.columns
#df.index.tolist()
#df.isna()# yes there are
#df.isna().sum()
#df.describe(include='number')
#df.describe(include='object')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Name        10 non-null     object
 1   Age         9 non-null      float64
 2   Gender      9 non-null      object
 3   Department  10 non-null     object
 4   Salary      9 non-null      float64
 5   Experience  10 non-null     int64
dtypes: float64(2), int64(1), object(3)
memory usage: 612.0+ bytes

# **selection and indexing**

In [4]:
#df['Name']
#df.filter(items=['Name','Salary'])
#df.iloc[3,:]
#df.loc[df['Name'] == 'lina']
#df.loc[df['Name']=='omar','Salary']=4700
#df.query('Department=="IT"').Name
#df.query('Age>26').Name
#df.query('Gender=="female"').Salary
#df.query('Experience<3').Name
#df.query('Department=="HR"').Age

# **Conditional Filtering**

In [5]:
#df.query('Age<30').Name
#df.query('Department=="Marketing"').Name
#df.query('Department == "IT" and Gender == "female"').Name
#df.query('Salary >5000 and Salary<6000').Name
#df.query('Experience<5 & Experience>2').Name
#df[df['Age'].isna()]
#df[df['Experience'].isna()]
#df.query('Department != "IT"').Name
#df[df['Name'].str.startswith('s')]
df[df['Name'].str.contains('a')].Name

0     lina
1     omar
2     sami
3     sara
4     rami
5    tariq
6     mona
7     zain
8    leena
9    ahmed
Name: Name, dtype: object

# **Data Modification and creation**

In [9]:
from ast import Name
#df["Bonus"]=df['Salary']*0.10
#df
#df['NetSalary']=df['Salary']+df['Bonus']
df['AgeGroup'] = df['Age'].apply(lambda age: 'Young' if age < 30 else 'Old')
#df.columns.str.lower()
#df['Salary'].rename('BaseSalary')
#df.drop(columns=['NetSalary'])
#df = df[:-1]
#df['NameLen']=df['Name'].str.len()

# **sorting and grouping**

In [12]:
#df.sort_values(by='Salary',ascending=True)
#df.sort_values(by='Age',ascending=False)
#df.groupby('Department')['Salary'].mean()
#df.groupby('Department')['Name'].count()
#df.groupby('Department')['Salary'].max()
#df.groupby('Gender')['Experience'].mean()
#df.groupby('Gender')['Department'].count()
#df.groupby('AgeGroup')['Salary'].sum()
df.query('Experience>3').Name.count()

np.int64(6)

# **Handling Missing Value**

In [21]:
#df['Age'].fillna(df['Age'].mean())
#df['Gender'].fillna('Unknown')
#df.dropna(inplace=True)
#df.dropna(axis=1,inplace=True)
#df.dropna()

    Name   Age  Gender Department  Salary  Experience AgeGroup
0   lina  25.0  female         IT  4500.0           5    Young
1   omar  30.0    male         HR  5000.0           3      Old
3   sara  22.0  female         IT  4800.0           1    Young
4   rami  35.0    male    Finance  5600.0           6      Old
6   mona  26.0  female  Marketing  4700.0           4    Young
7   zain  33.0    male         IT  5300.0           5      Old
9  ahmed  30.0    male  Marketing  5100.0           4      Old

# **Advance operations**

In [38]:
import numpy as np

#df['sqrage']=df['Age'].apply(np.sqrt)
#df['Gender'].map({'male':0,'female':1})
#df['Tax']=df[df['Salary']>5000]*0.05
#df['Tax']=df[df['Salary']>5000]['Salary'] * 0.05
#df['Salary'].max()-df['Salary'].min()
q1=df['Salary'].quantile(0.25)
q3=df['Salary'].quantile(0.75)
iqr=q3-q1
outL=((df['Salary']<(q1-1.5*iqr))|(df['Salary']>(q3-1.5*iqr)))
out=df[outL]

# **Reshaping data**

In [54]:
#df.pivot(index='Name',columns='Department',values='Salary')
#df.pivot_table(index='Gender',columns='Department',values='Salary',aggfunc="mean")
#df.stack()
#-----------------------------------------------------------
#mulind=df.groupby(['Department','Gender'])['Salary'].mean()
#unstak=mulind.unstack()
#unstak
#------------------------------------------------------------
#df.T

,0,1,3,4,6,7,9
Name,lina,omar,sara,rami,mona,zain,ahmed
Age,25.0,30.0,22.0,35.0,26.0,33.0,30.0
Gender,female,male,female,male,female,male,male
Department,IT,HR,IT,Finance,Marketing,IT,Marketing
Salary,4500.0,5000.0,4800.0,5600.0,4700.0,5300.0,5100.0
Experience,5,3,1,6,4,5,4
AgeGroup,Young,Old,Young,Old,Young,Old,Old
sqrage,5.0,5.477226,4.690416,5.91608,5.09902,5.744563,5.477226
Tax,NaN,NaN,NaN,280.0,NaN,265.0,255.0